
#slide-out {
    margin-top: 65px;
    padding-left: 20px;
}

#slide-out li:nth-of-type(1){
    margin-top: 10px;
    color: red;
}

#slide-out li {
    margin-right: 10px;
    color: black;
    border: 1px solid gray;
}

.editing {
    margin-top: 10px;
    text-align: center;
}

.pgnsrc{
    position: fixed;
    left: 570px;
    bottom: 100px;
}

.pgnmain{
    position: fixed;
    left: 320px;
    bottom: 100px;
}

.back{
    position: fixed;
    left: 300px;
    bottom: 110px;
}

#slide-out  {
    padding-left: 20px;
}

#mainTable {
    margin-left: 300px;
}

.nav-wrapper {
    padding: 0 25px;
} 
.submit-btn { width: 80% ;}

#toast-container {
    top: auto !important ;
    bottom: 10% !important ;
    left: 50% !important ;
    right: auto !important ;
} 


#shared-bookmarks {table-layout: fixed;}
#main-table {  table-layout: fixed; margin: 20px 0;}
#main-table td, #main-table th { padding:10px 15px;}
#main-table tr th:first-of-type { width: 35%;}
#main-table tr th:nth-of-type(2) { width: 35%;}
#main-table tr th:nth-of-type(3), #main-table tr td:nth-of-type(3) { width: 10%; text-align: center;}
#main-table tr th:last-of-type, #main-table tr td:last-of-type { width: 20%; text-align: center;}


